main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main > div {
    width: 90%;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;

}

#Formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
    gap: 20px;
    color: var(--cor-04);
}

#Conecte-se {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-cadastro {
    border: var(--borda);
    width: 100%;
    max-width: 340px;
    background-color: var(--cor-03);

}

#Formulario > div {
    width: 100%;

}

#Formulario > div > label {
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-01);
    font-weight: 300;
    padding-bottom: 4px;
}

.Formulario-botao {
    width: 100%;
}

#Formulario > p {
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-01);
    display: flex;
    font-weight: 200;
}

#Formulario > a,
#Conecte-se > p > a {
    text-decoration: none;
    color: var(--cor-02);
}

#Conecte-se > p {
    font-size: var(--tamanho-fonte-sm);
}


.informacao-aplicativo {
    font-size: var(--tamanho-fonte-sm);
    font-weight: 700;
    color: var(--cor-01);
}

#secao-instalacao {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#secao-instalacacao img {
    width: 120px;
    height: 39px;
}

.file-upload {
    display: inline-block;
    padding: 6px 12px;   /* deixei menor */
    background-color: var(--cor-02); /* cinza do botão */
    color: #000;
    cursor: pointer;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 14px;
}
